<!DOCTYPE html>
<html lang="en">
<app-header></app-header>
<app-body [products]="products" [subtotal]="subTotal" [totalItem]="totalItems" [promoCode]="promoCode" [discount]="discount"
          (onRemoveProduct)="hanleRemoveProduct($event)"
          (onUpdateProduct)="hanleUpdateProduct($event)"
          (onReloadProduct)="hanleReloadProduct()"
          (onPromoCode)="hanlePromoCode($event)"
></app-body>
<!--[price1] = "price1" truyen qua gia tri thuoc tinh
//price2 = "price1" truyen truc tiep -->
</html>
